head

	title GOOD HIKES

	<!-- SCRIPTS -->
	script(type="text/javascript", src="https://code.jquery.com/jquery-1.11.3.min.js")
	script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
	script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous")

	<!-- STYLESHEETS -->
	link(rel="stylesheet", type="text/css", href="css/reset.css")
	link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
	link(rel="stylesheet", type="text/css", href="css/main.css")