extends ./layout.jade

block content

    header
        h1 Good Hikes
        a.btn.btn-default.login(href="/login") Log-in / Register
    hr

    include ./partials/_searchBar.jade

    include ./partials/_searchResults.jade



    a.btn.btn-default.more(href="#") See more hikes...