img(src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSHJtUKRZEmYVX4ahtEiOCScmjjX4ubA9EyHppW1iRvwK7wGhx0")
.info
    h2 Trail name - 
        span length
    span Nearest City - Elevation - Rating - Status