extends ./layout.jade

header
	h1 Wanna Hike

	//container class used to in stylesheet to group home and back buttons
	.btn-container
		a.btn.btn-default.home(href="/") Home
		a.btn.btn-default.back(href="/user") Back

	a.btn.btn-default.reverse(href="#") Reverse Order
hr

//these are the buttons used to sort your list by different criteria
.btn-group.btn-group-justified.sort
	a.btn.btn-default(href="#") Trail Name
	a.btn.btn-default(href="#") Date Added
	a.btn.btn-default(href="#") Length
	a.btn.btn-default(href="#") Nearest City

//container for the list items
.myhikes__list

	//an individual list item
	.group.myhikes__list-item
		include ./partials/_listHike.jade
	hr
		

a.btn.btn-default.more(href="#") See more hikes...