extends ./layout.jade

header
	h1 My Hikes

	a.btn.btn-default.home(href="./index.html") Home
hr
	
	include ./partials/_searchBar.jade
	
	.results
		h2 Last hiked:
		.jumbotron
			h1 Trail name
		  	p Length
		  	p Elevation
		  	p Nearest City

	ul.nav.nav-pills.nav-stacked
		li.active
			a(href="./list.html") Wanna Hike (99)
		li
			a(href="./list.html") Have Hiked (25)
		li.disabled
			a(href="./list.html") Custom Hike List (0)